[submodule "Curso-Introducao-a-Ciencia-da-Computacao-I"]
	path = Curso-Introducao-a-Ciencia-da-Computacao-I
	url = https://github.com/gustavosb64/Curso-Introducao-a-Ciencia-da-Computacao-I.git
[submodule "EstruturasDeDados"]
	path = EstruturasDeDados
	url = https://github.com/gustavosb64/EstruturasDeDados.git
[submodule "Lab-Introducao-a-Ciencia-da-Computacao-I"]
	path = Lab-Introducao-a-Ciencia-da-Computacao-I
	url = https://github.com/gustavosb64/Lab-Introducao-a-Ciencia-da-Computacao-I.git
[submodule "Course-Advanced-Algorithms-And-Applications-USP"]
	path = Course-Advanced-Algorithms-And-Applications-USP
	url = https://github.com/gustavosb64/Course-Advanced-Algorithms-And-Applications-USP.git
